body{
    background:#020617;
    color:white;
    font-family:Arial;
}

.container{
    width:80%;
    margin:auto;
    text-align:center;
}

h1{
    color:#38bdf8;
}

.card{
    background:#020617cc;
    margin:25px;
    padding:25px;
    border-radius:15px;
    border:1px solid #1e293b;
}

.hidden{
    display:none;
}

button{
    padding:10px 20px;
    background:#38bdf8;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

.grid img{
    width:100%;
    cursor:pointer;
}

/* Blur Levels */

.b1{filter:blur(10px);}
.b2{filter:blur(7px);}
.b3{filter:blur(4px);}
.b4{filter:blur(0px);}
.b5{filter:blur(3px);}
.b6{filter:blur(6px);}

#sweepImg{
    width:250px;
}

#chartLetter{
    font-size:80px;
    font-weight:bold;
    margin:20px;
}
#chartRow{
    font-size:45px;
    letter-spacing:12px;
}
